* {
 /*Aqui se realizan cambios en toda la pagina */
 font-family: "Montserrat", sans-serif;  
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
}

nav {background-color: #510b2c;
    padding-top: 2rem; 
    padding-bottom: 1rem;
   
}

.tituloPagina {
    color: white;
    text-align: center;
    font-size: x-large;
    text-transform: uppercase ;
}
.tituloPagina img{
    border-radius: 50%;
}

.list_nav{
    display:flex;
    text-align: center;
    color:white;
    font-size: 20px;
    margin-top: 2rem ; 
}

.list_nav a{
    text-decoration: none;
    color: white;
}

.list_nav a:hover{
    background-color: #E8AC3C;
    padding: 10px 10px;
    border-radius: 3px;
    
}

.nav_item{
    list-style: none;
    flex: 1 1 auto;
    

}

body{

    background-color: #ebebeb;
}

footer{
    margin: 10px 0 0 0;
    padding: 2%;
    background-color: #E8AC3C;
    color: white;
    text-align: center;
}

 /* esto es parte de la pagina principal */
.tituloPresentacion{
    text-align: center;
    padding: 20px;
    margin-top: 3rem;
}

main{
    text-align: center;
}

main img {
    width: 600px;
    margin: 10px 0;
}

main h3{
    margin: 20px 0;
}

.tunos_img img{
    width: 400px;
}



.introPagina {
    text-align: center;
    font-size: 21px;
    font-style: italic;
    
}

/* esto es parte de la pagina de contacto*/

.icons{
    margin: 15px 0 15px 0;
}
.lista_icons a{
    color: #510b2c;
    margin: 0 15px ;
    font-size: 2rem;
}

.lista_icons a:hover{
    color: #E8AC3C;
}